CLASE_29/CLASE_29.zip
CLASE_30/CLASE_30.zip
CLASE_31/CLASE_31.zip
000_Todas las Clases D.H..zip
clase_10/dsad_2021/M2/CLASE_10_Visualizacion1/Notebooks/2_seaborn.ipynb
.DS_Store
CLASE_39/dsad_2021/M5/CLASE_39_Features_Importance_Modelos_Clasificacion/Notebooks/2.interpretabilidad_lime.ipynb
CLASE_39/dsad_2021/M5/CLASE_39_Features_Importance_Modelos_Clasificacion/Notebooks/4.checkpoint.ipynb
CLASE_39/dsad_2021/M5/CLASE_39_Features_Importance_Modelos_Clasificacion/Notebooks/5.checkpoint_solucion.ipynb
CLASE_39/dsad_2021/M5/CLASE_39_Features_Importance_Modelos_Clasificacion/Notebooks/6.desafio.ipynb
CLASE_39/dsad_2021/M5/CLASE_39_Features_Importance_Modelos_Clasificacion/Notebooks/explanation.html
CLASE_40/dsad_2021/M5/CLASE_40_Feature_Selection_Desbalance_Clases/Notebooks/2.PRACTICA_GUIADA_la_maldicion_de_la_dimensionalidad_feat_selection.ipynb
CLASE_40/dsad_2021/M5/CLASE_40_Feature_Selection_Desbalance_Clases/Notebooks/3.Checkpoint.ipynb
CLASE_40/dsad_2021/M5/CLASE_40_Feature_Selection_Desbalance_Clases/Notebooks/4.Checkpoint_Solucion.ipynb
CLASE_40/dsad_2021/M5/CLASE_40_Feature_Selection_Desbalance_Clases/Notebooks/6.Desafio_solucion.ipynb
CLASE_41/dsad_2021/M5/CLASE_41_Pipelines/Notebooks/01_Pipeline.ipynb
CLASE_41/dsad_2021/M5/CLASE_41_Pipelines/Notebooks/02_Pipeline_checkpoint.ipynb
CLASE_41/dsad_2021/M5/CLASE_41_Pipelines/Notebooks/03_Pipeline_checkpoint_solution.ipynb
CLASE_41/dsad_2021/M5/CLASE_41_Pipelines/Notebooks/04_Desafio_pipelines.ipynb
CLASE_41/dsad_2021/M5/CLASE_41_Pipelines/Notebooks/05_Desafio_pipelines_solucion.ipynb
CLASE_46/dsad_2021/M6/CLASE_46_Text_Mining_1/Notebooks/3.Checkpoint_Solucion.ipynb
CLASE_46/dsad_2021/M6/CLASE_46_Text_Mining_1/Notebooks/4.Desafio.ipynb
CLASE_49/.DS_Store
CLASE_49/dsad_2021/.DS_Store
CLASE_49/dsad_2021/M6/.DS_Store
CLASE_49/dsad_2021/M6/CLASE_49_Series_de_Tiempo_2/.DS_Store
CLASE_41/dsad_2021/M5/CLASE_41_Pipelines/Notebooks/Untitled.ipynb
.ipynb_checkpoints/
CLASE_41/dsad_2021/M5/CLASE_41_Pipelines/Notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb